// .container {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-template-rows: 64px 1fr;
//     grid-template-areas: "toolbar toolbar toolbar"
//                          "navbar outlet outlet"
//                          "navbar outlet outlet";
//     height: 100vh;
//     width: 100vw;
// }

// .toolbar {
//     grid-area: toolbar;
// }

.navbar {
    background: #ec250d;
    background-color: linear-gradient(0deg, #ec250d 0, #fd5d93 100%);
    height: 100%;
    width: 230px;
    display: block;
    box-shadow: 0 0 45px 0 rgba(0,0,0,.6);
    margin-right: 15px;
    transition: .5s cubic-bezier(.685, .0473, .346, 1);
}

.appTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 65px;
}

.toolbar {
    height: 65px;
}

.content {
    height: calc(100vh - 65px);
    padding: 16px;
    overflow-y: scroll;
}